# Скопируйте этот файл в .env и заполните реальными ключами
RSA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_DEV_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYOUR_DEV_PUBLIC_KEY_HERE\n-----END PUBLIC KEY-----"